@charset "utf-8";
//style.css
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");


//변수선언
$baseFont:"Noto Sans KR",arial,sans-serif;
$baseFontColor:#333;
$baseFontSize:13px;
$bigFontSize:30px;
$boxWidth:80%;
$boxCenter: 0px auto;
$bgColor: #efefef;

body{
  font-family: $baseFont;
  font-size: $baseFontSize;
  color: $baseFontColor;
  width: $boxWidth;
  margin: $boxCenter;
}

h2{font-size:$bigFontSize;}
#wrap{
  background:$bgColor;
  width: $boxWidth;
  height: 150px;
  margin: $boxCenter;
  
  // 지역변수 선언
  // $font_Color: #c00;
}

// p{
//   //위 지역변수는 다른 곳에 적용되지 않음
//   color: $font_Color;
// }

@mixin divBox($bgcolor1){
  width: $boxWidth;
  background: $bgcolor1;
  margin: $boxCenter;
}

#box01, #box02{
  height: 100px;
}

#box01{
  @include divBox(rgb(236, 56, 56));
}
#box02{
  @include divBox(rgb(183, 247, 183));
}

//버튼 서식
@mixin btn($btnColor:#777){
  width: 170px;
  height: 30px;
  border: 1px solid $btnColor;
  text-align: center;
  color: #fff;
  border-radius: 30px;
}

.btn{@include btn;}
.btn03{background: #333;}
.btn04{background: rgb(12, 202, 12);}
.btn05{background: rgb(255, 196, 0);}

//실습2 _ 목록태그에 각각 테두리 서식 다르게 적용하기
@mixin list_border($w:1px, $s:solid, $c:#333){
  border: $w $s $c;
  margin-bottom: 5px;
  padding: 5px;
}
.list01 li{}
.list01 li:first-child{@include list_border;}
.list01 li:nth-child(2){@include list_border($w:3px);}
.list01 li:nth-child(3){@include list_border(3px, double, #333);}
.list01 li:last-child{@include list_border($s:dashed);}